<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="clearfix">
    <%= f.label :username, "Username: " %>
    <%= f.text_field :username %>
  </div>
  <div class="clearfix">
    <%= f.label :email, "Email Address: " %>
    <%= f.text_field :email %>
  </div>
  <div class="clearfix">
    <%= f.label :phone_number, "Phone Number (optional): " %>
    <%= f.text_field :phone_number %>
  </div>
  <div class="clearfix">
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation, "Confirm Password: " %>
    <%= f.password_field :password_confirmation %>
  </div>
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
