<div class="well">
	<h1><%= @user.username %></h1>
	
	<%= form_tag toggle_follow_path do %>
		<% if current_user.is_friend? @user %>
			<%= submit_tag "Unfollow", :class => "btn danger" %>
		<% else %>
			<%= submit_tag "Follow", :class => "btn primary" %>
		<% end %>
	<% end %>
	
	<%= render :partial => "blips_list", :locals => { :blips => @blips } %>
</div>