<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
		<%= yield(:head) %>
	</head>
	<body>
		<div class ="container">
			<%= render :partial => 'common/header' %>
			<div class="row">
				<div class="span9 offset3">
					
					<%= render :partial => 'common/flashes' %>
				</div>
			</div>
				<%= content_tag :h1, yield(:title) if show_title? %>
				<%= yield %>
		</div>
	</body>
</html>
